/* Register.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full page height */
  background-color: #f4f4f4; /* Light gray background */
}

.register-form {
  background : white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;

}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 10px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}
