
.home{
  width: 100%;
  display: flex;
  justify-content: center;
}

.productContainer{
  width: 800px;
  height: 600px;
  background-color: aqua;
  border: 2px solid black;
  margin-top: 50px;

}

.cartheader{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 5px;

}

.cartheader button{
  background-color: red;
  margin-right: 30px;
  height: 80%;
  margin-top: 5px;
}